
.content {
    padding: 16px;
     
}

.mat{
    color: blue;
    padding: 30px;
    border-color: brown;
    border-radius: 15px;
    background-color: rgb(184, 174, 174);
}

.head{
    color: black;
}


.toolbar{
    background-color:#F5F5F5;
    width: auto;
    height: 50px;
    margin-top: 40px;
}